@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="row">
    <h3 class="text-light"><span style="padding:0 10px 0 0"><a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-outline-light btn-sm">←Back</a></span>Change Email</h3>
</div>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {

                <div class="mb-3 row">
                    <label class="text-light col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input asp-for="Email" class="text-light form-control-plaintext" readonly />
                    </div>
                </div>
            }
            else
            {
                    
                <div class="mb-3 row">
                    <label class="text-light col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input asp-for="Email" readonly class="text-light form-control-plaintext" disabled />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    </div>
                </div>
            }
            <div class="mb-3 row">
                <label class=" text-light col-sm-2 col-form-label">New Email</label>
                <div class="col-sm-10">
                    <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn-signup">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
