@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="bg-gray text-center">

    <h1 class="text-light">@ViewData["Title"]</h1>
    <div class="container">
<partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
<div style="padding: 200px;">

    </div>
</div>