@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<div class="bg-gray text-center" >
    <h1 class="text-light">@ViewData["Title"]</h1>

    <p class="text-warning">
        Please check your email to confirm your account.
    </p>
    <div style="padding: 200px;">

    </div>
</div>

